<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shengName</key>
		<string>北京市</string>
		<key>shengCode</key>
		<string>001</string>
		<key>shiInfos</key>
		<array>
			<dict>
				<key>shiName</key>
				<string>北京</string>
				<key>shiCode</key>
				<string>010</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>东城区</string>
						<key>xianCode</key>
						<string>1001</string>
					</dict>
					<dict>
						<key>xianName</key>
						<string>西城区</string>
						<key>xianCode</key>
						<string>1002</string>
					</dict>
					<dict>
						<key>xianName</key>
						<string>朝阳区</string>
						<key>xianCode</key>
						<string>1003</string>
					</dict>
					<dict>
						<key>xianName</key>
						<string>丰台区</string>
						<key>xianCode</key>
						<string>1004</string>
					</dict>
					<dict>
						<key>xianName</key>
						<string>石景山区</string>
						<key>xianCode</key>
						<string>1005</string>
					</dict>
					<dict>
						<key>xianName</key>
						<string>海淀区</string>
						<key>xianCode</key>
						<string>1006</string>
					</dict>
					<dict>
						<key>xianName</key>
						<string>北京</string>
						<key>xianCode</key>
						<string>010</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shengName</key>
		<string>天津市</string>
		<key>shengCode</key>
		<string>002</string>
		<key>shiInfos</key>
		<array>
			<dict>
				<key>shiName</key>
				<string>天津</string>
				<key>shiCode</key>
				<string>022</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>天津</string>
						<key>xianCode</key>
						<string>022</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shengName</key>
		<string>河北省</string>
		<key>shengCode</key>
		<string>003</string>
		<key>shiInfos</key>
		<array>
			<dict>
				<key>shiName</key>
				<string>廊坊</string>
				<key>shiCode</key>
				<string>0316</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>廊坊</string>
						<key>xianCode</key>
						<string>0316</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>保定</string>
				<key>shiCode</key>
				<string>0312</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>保定</string>
						<key>xianCode</key>
						<string>0312</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>沧州</string>
				<key>shiCode</key>
				<string>0317</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>沧州</string>
						<key>xianCode</key>
						<string>0317</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>衡水</string>
				<key>shiCode</key>
				<string>0318</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>衡水</string>
						<key>xianCode</key>
						<string>0318</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>邢台</string>
				<key>shiCode</key>
				<string>0319</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>邢台</string>
						<key>xianCode</key>
						<string>0319</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>邯郸</string>
				<key>shiCode</key>
				<string>0310</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>邯郸</string>
						<key>xianCode</key>
						<string>0310</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>河北省</string>
				<key>shiCode</key>
				<string>0013</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>河北省</string>
						<key>xianCode</key>
						<string>0013</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>石家庄</string>
				<key>shiCode</key>
				<string>0311</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>石家庄</string>
						<key>xianCode</key>
						<string>0311</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>张家口</string>
				<key>shiCode</key>
				<string>0313</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>张家口</string>
						<key>xianCode</key>
						<string>0313</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>承德</string>
				<key>shiCode</key>
				<string>0314</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>承德</string>
						<key>xianCode</key>
						<string>0314</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>秦皇岛</string>
				<key>shiCode</key>
				<string>0335</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>秦皇岛</string>
						<key>xianCode</key>
						<string>0335</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>shiName</key>
				<string>唐山</string>
				<key>shiCode</key>
				<string>0315</string>
				<key>xianInfos</key>
				<array>
					<dict>
						<key>xianName</key>
						<string>唐山</string>
						<key>xianCode</key>
						<string>0315</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
